<nav class = "vw-100 d-flex justify-content-around align-items-center btn-blue-col">
<%= link_to categories_path do %>
<div class = "arrow">
  <i class="fas fa-arrow-left btn-blue-col"></i>
  </div>
 <% end %>
 <div class = "heading">
 <h2>Expenses</h2>
 </div>
 <%if user_signed_in?%>
    <div>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn-blue-col text-decoration-none border border-0' %>
    </div>
    <%end%>
 </nav>
 <h3 class="vw-100 bg-secondary text-white pt-3 pb-3 text-center"> <%= "Total Expenses: $#{@total}" %> </h3>
<section class="container-md d-flex flex-column justify-content-between align-items-center">
<ul class="container-fluid m-0 p-0">
<% @payments.each do |transaction| %>
<li class="d-flex justify-content-between align-items-center bg-white p-2 mb-3">
<%=image_tag(@category.icon, options = {size: 50})%>
<span class = "text-bold"> <%= transaction.name %></span>
<span><%= "$#{transaction.amount}" %></span>
</li>
<%end%>
</ul>

    <%= link_to 'Add Expense', new_category_payment_path(params[:id]), class: "container-md btn btn-primary btn-blue-col btn-lg fixed-bottom" %>
  </section>